@import url('https://fonts.googleapis.com/css2?family=Itim&family=Space+Mono&family=Noto+Sans+Display:wght@600&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: "Borsok:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Borsok-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Dream Kudos:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Dream_Kudos-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Madimi One:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/MadimiOne-Regular_1") format("woff2");
}

@font-face {
  font-family: "Hi Melody:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/HiMelody-Regular_1") format("woff2");
}

@font-face {
  font-family: "Space Mono:Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://static.figma.com/font/SpaceMono-Bold_2") format("woff2");
}

@font-face {
  font-family: "Inter:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Open Sans:SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("https://static.figma.com/font/OpenSans_wdth_wght__2") format("woff2");
}

@font-face {
  font-family: "Lato:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/Lato-Regular_1") format("woff2");
}

@font-face {
  font-family: "Space Grotesk:Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://static.figma.com/font/SpaceGrotesk_wght__1") format("woff2");
}

@font-face {
  font-family: "Open Sans:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/OpenSans_wdth_wght__2") format("woff2");
}

@font-face {
  font-family: "Open Sans:Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://static.figma.com/font/OpenSans_wdth_wght__2") format("woff2");
}

@font-face {
  font-family: "Noto Sans:Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://static.figma.com/font/NotoSans-VF_3") format("woff2");
}

@font-face {
  font-family: "Noto Sans:Display Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://static.figma.com/font/NotoSans-VF_3") format("woff2");
}

@font-face {
  font-family: "Archivo:Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://static.figma.com/font/Archivo_wdth_wght__1") format("woff2");
}

@font-face {
  font-family: "Archivo:Italic";
  font-style: italic;
  font-weight: 400;
  src: url("https://static.figma.com/font/Archivo-Italic_wdth_wght__1") format("woff2");
}

@font-face {
  font-family: "Archivo:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/Archivo_wdth_wght__1") format("woff2");
}

@font-face {
  font-family: "Space Mono:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/spacemono/v13/i7dPIFZifjKcF5UAWdDRUEZ2RFq7AwU.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Noto Sans:Display SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts.gstatic.com/s/notosansdisplay/v26/RLpZK4fy6r6tOBEJg0IAKzqdFZVZxpMkXo-uNg.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
  overflow-x: hidden;
}
